# Web
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEWSDATA_API_KEY=
GEMINI_API_KEY=

# API
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_FLYWAY_ENABLED=true
SPRING_JWT_ISSUER=

# Supabase
SUPABASE_SERVICE_ROLE_KEY=
